<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red">enter the
                        correct author</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red">enter the
                        correct title</p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                    <p th th:if="${#fields.hasErrors('size')}" th:errors="*{size}" style="color: red">field value must
                        be digit and less then 4 signs</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <!--unified form for deleting and filtering books-->
    <form method="post" th:action="@{/books/action}" th:object="${filter}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" name="action" value="remove">
                </td>
                <td>
                    <input type="submit" name="action" value="filter">
                </td>
            </tr>
            <p th th:if="${#fields.hasErrors()}" style="color: red">you must fill in the field correctly</p>
        </table>
    </form>

    <!--file upload form-->
    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file">
                </td>
                <td>
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>

    <!--table for downloading files-->
    <table id="nameFiles">
        <tr>
            <th>file</th>
            <th>download</th>
        </tr>
        <tr th:each="fileName : ${nameFiles}">
            <td th:text="${fileName}"></td>
            <td>
                <a th:href="@{/books/downloadFile(fileName=${fileName})}">Download</a>
            </td>
        </tr>
    </table>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>