<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <style>
        #registration_form {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .field {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="registration_form">
    <form method="post" th:action="@{/registration/save}" th:object="${user}">
        <div class="field">
            <input type="text" placeholder="enter name" th:field="*{name}">
            <p th th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">enter the correct name</p>
        </div>
        <div class="field">
            <input type="text" placeholder="enter surnames" th:field="*{surnames}">
            <p th th:if="${#fields.hasErrors('surnames')}" th:errors="*{surnames}" style="color: red">enter the correct
                surnames</p>
        </div>
        <div class="field">
            <input type="text" placeholder="enter age" th:field="*{age}">
            <p th th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">enter the correct age</p>
        </div>
        <div class="field">
            <input type="text" placeholder="enter email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">enter the correct email</p>
        </div>
        <div class="field">
            <input type="text" placeholder="enter login" th:field="*{login}">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red">enter the correct login</p>
        </div>
        <div class="field">
            <input type="text" placeholder="password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">enter the correct
                password</p>
        </div>
        <div class="field">
            <input type="submit" value="registration">
        </div>
    </form>
</div>
</body>
</html>